body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: whitesmoke;
  font-family: Arial, sans-serif;
  align-items: center;
}

.hidden {
  display: none;
}

#content{
  width: 1400px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  column-gap: 15px;
  row-gap: 30px;
}
#hide-schemas {
  width: 150px;
  height: 30px;
  font-size: large;
}

#hide-schemas{
  grid-column: 1/3;
  grid-row: 2;
  align-items: center;
}

/* .schemas-container {
  width: 1400px;
  grid-column: 1/3;
  grid-row: 3;
  display: flex;
  flex-wrap: wrap;
} */

#header{
  display: flex;
  justify-content: center; /* Centers the title horizontally */
  align-items: center;
  position: relative;
  height: 100px; /* Adjust the height as needed */
  gap: 50px;
}



.plot{
    width:600px;
    height:450px;
}

#features{
  grid-column: 1/3;
  grid-row: 1;
  align-items: center;
}

.schema{
  width: 600px;
}



#pinion-frecuency-spring-plot{
  grid-column: 1;
  grid-row: 4;
}

#position-plot-slider{
  grid-column: 2;
  grid-row: 4;
}


#bendix, #flywheel{
  display: flex;
  flex-direction: column;

  align-items: center;
}


table {
  width: 600px;
  border-collapse: collapse;
  border-radius: 5%;
  overflow: hidden;
  text-align: center;
}

th, td {
  text-align: center;
  padding: 10px;
  overflow: hidden;
}

th {
  background-color: #6482AD;
  text-align: center;
  font-size: large;
}

.masses, .inner-radius, .outter-radius{
  width: 90%;
  font-size: large;
  border-color: transparent;
}

 .slider {
  -webkit-appearance: none;
  width: 400px;
  height: 15px;
  border-radius: 5px;  
  /* background: linear-gradient(to right, red 0%,red 10%, blue 10%, blue 80%,red 80%, red 100%);*/
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black"><polygon points="12 0.4 15.09 8.24 23.95 8.65 17.21 13.73 19.63 21.7 12 17.27 4.37 21.7 6.79 13.73 0.05 8.65 8.91 8.24"/></svg>') no-repeat center center;
  background-size: contain;
  cursor: pointer;
}


label{
  font-weight: bold;
  font-size: large;
}
input{
  width: 100px;
  font-size: large;
  border-radius: 10%;
}