body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: whitesmoke;
  font-family: Arial, sans-serif;
  align-items: center;
}

.schemas-container{
  width: 1010px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}

.hidden {
  display: none;
}

#content{
  width: 1300px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
  column-gap: 15px;
  row-gap: 30px;
}

#bendix{
  grid-column: 1;
  grid-row: 1;
}

#e2{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column: 2;
  grid-row: 1;
}


#hide-schemas {
  width: 150px;
  height: 30px;
  font-size: large;
  grid-column: 1/3;
  grid-row: 2;
  align-items: center;
}

.schemas-container{
  grid-column: 1/3;
  grid-row: 3;
}

#pinion-frecuency-spring-plot{
  grid-column: 1;
  grid-row: 4;
}

#position-plot-slider{
  grid-column: 2;
  grid-row: 4;
}

#spring{
  grid-column: 1/3;
  grid-row: 5;
}

#header{
  display: flex;
  justify-content: center; /* Centers the title horizontally */
  align-items: center;
  position: relative;
  height: 100px; /* Adjust the height as needed */
  gap: 50px;
}

.plot{
    width:600px;
    height:450px;
}

.schema{
  width: 500px;
}

#pinion-frecuency-spring-plot{
  grid-column: 1;
  grid-row: 4;
}

#position-plot-slider{
  grid-column: 2;
  grid-row: 4;
}

#spring{
  grid-column: 1/3;
  grid-row: 5;
}

#spring {
  text-align: center;
  margin: 20px;
}

#spring a {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #3498db;
  background-color: #f2f2f2;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #3498db;
  transition: all 0.3s ease;
}

#spring a:hover {
  color: white;
  background-color: #2596be;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

#spring a:active {
  transform: translateY(4px);
}



#bendix, #flywheel{
  display: flex;
  flex-direction: column;

  align-items: center;
}


.masses, .inner-radius, .outter-radius{
  width: 90%;
  font-size: large;
  border-color: transparent;
}

 .slider {
  -webkit-appearance: none;
  width: 400px;
  height: 15px;
  border-radius: 5px;  
  /* background: linear-gradient(to right, red 0%,red 10%, blue 10%, blue 80%,red 80%, red 100%);*/
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black"><polygon points="12 0.4 15.09 8.24 23.95 8.65 17.21 13.73 19.63 21.7 12 17.27 4.37 21.7 6.79 13.73 0.05 8.65 8.91 8.24"/></svg>') no-repeat center center;
  background-size: contain;
  cursor: pointer;
}


label{
  font-weight: bold;
  font-size: large;
}
input{
  width: 100px;
  font-size: large;
  border-radius: 10%;
}


.table-features {
  width: 600px;
  border-collapse: collapse;
  font-family: 'Arial', sans-serif;
  margin: 20px 0;
  font-size: 16px;
}

.table-features th, .table-features td {
  padding: 12px 15px;
  text-align: center;
}

.table-features th {
  background-color: #5c7eac;
  color: black;
  font-weight: bold;
  border: 1px solid #ddd;
}

.table-features td {
  border: 1px solid #ddd;
}

.table-features tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-features tr:hover {
  background-color: #ddd;
}

input[type="number"] {
  width: 100px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  font-size: 18px;
}

input[type="number"]:focus {
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.6);
}